@import "tailwindcss";

:root{
  --background: #FEFAE6; 
  --background-900: #EFEAD2; 
  --background-800: #E2D9AB; 
  --background-700: #D6C782; 
  --background-600: #C4AB2D; 
  --background-dark: #171200; 
  --background-dark-900: #261E00; 
  --background-dark-800: #3D3200; 
  --background-dark-700: #544500; 
  --background-dark-600: #6C5900; 
  --dominant-color: #F0C808; 
  --dominant-dark-color: #4E2A03; 
  --dominant-darken-color: #B99800; 
  --dominant-light-color: #E9E6CE; 
  --dominant-lighten-color: #FFFB51; 
  --primary-color: #7FB069; 
  --primary-dark-color: #1E3C15; 
  --primary-darken-color: #50803D; 
  --primary-light-color: #E0EFDA; 
  --primary-lighten-color: #B0E298; 
  --secondary-color: #4D5E85; 
  --secondary-dark-color: #213158; 
  --secondary-darken-color: #203558; 
  --secondary-light-color: #D7E9FC; 
  --secondary-lighten-color: #7B8BB5; 
  --success-color: #24C279; 
  --success-dark-color: #20431F; 
  --success-darken-color: #00904C; 
  --success-light-color: #D0E8D9; 
  --success-lighten-color: #67F6A8; 
  --danger-color: #C42231; 
  --danger-dark-color: #5E2D27; 
  --danger-darken-color: #8C000B; 
  --danger-light-color: #DCC0BE; 
  --danger-lighten-color: #FD5B5B; 
  --warning-color: #E6AD00; 
  --warning-dark-color: #51270E; 
  --warning-darken-color: #AF7E00; 
  --warning-light-color: #E7E1CA; 
  --warning-lighten-color: #FFDE4A; 
  --info-color: #0CB8DA; 
  --info-dark-color: #073E5B; 
  --info-darken-color: #0088A8; 
  --info-light-color: #CEEDEC; 
  --info-lighten-color: #65EBFF; 
  --background-text: #000000; 
  --background-900-text: #000000; 
  --background-800-text: #000000; 
  --background-700-text: #000000; 
  --background-600-text: #000000; 
  --background-dark-text: #FFFFFF; 
  --background-dark-900-text: #FFFFFF; 
  --background-dark-800-text: #FFFFFF; 
  --background-dark-700-text: #FFFFFF; 
  --background-dark-600-text: #FFFFFF; 
  --dominant-text: #000000; 
  --dominant-dark-text: #FFFFFF; 
  --dominant-darken-text: #000000; 
  --dominant-light-text: #000000; 
  --dominant-lighten-text: #000000; 
  --primary-text: #000000; 
  --primary-dark-text: #FFFFFF; 
  --primary-darken-text: #FFFFFF; 
  --primary-light-text: #000000; 
  --primary-lighten-text: #000000; 
  --secondary-text: #FFFFFF; 
  --secondary-dark-text: #FFFFFF; 
  --secondary-darken-text: #FFFFFF; 
  --secondary-light-text: #000000; 
  --secondary-lighten-text: #000000; 
  --success-text: #000000; 
  --success-dark-text: #FFFFFF; 
  --success-darken-text: #FFFFFF; 
  --success-light-text: #000000; 
  --success-lighten-text: #000000; 
  --danger-text: #FFFFFF; 
  --danger-dark-text: #FFFFFF; 
  --danger-darken-text: #FFFFFF; 
  --danger-light-text: #000000; 
  --danger-lighten-text: #000000; 
  --warning-text: #000000; 
  --warning-dark-text: #FFFFFF; 
  --warning-darken-text: #FFFFFF; 
  --warning-light-text: #000000; 
  --warning-lighten-text: #000000; 
  --info-text: #FFFFFF; 
  --info-dark-text: #FFFFFF; 
  --info-darken-text: #FFFFFF; 
  --info-light-text: #000000; 
  --info-lighten-text: #000000;  
  --display1-font: 'Inter Tight', sans-serif; 
  --display2-font: 'Inter Tight', sans-serif; 
  --display4-font: 'Inter Tight', sans-serif; 
  --display5-font: 'Inter Tight', sans-serif; 
  --display7-font: 'Inter Tight', sans-serif;
}

.cid-uXZuRd8pjg  {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-uXZuRd8pjg  .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-uXZuRd8pjg  .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-uXZuRd8pjg  .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uXZuRd8pjg  .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-uXZuRd8pjg  .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uXZuRd8pjg  .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uXZuRd8pjg  .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-uXZuRd8pjg  .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-uXZuRd8pjg  .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-uXZuRd8pjg  .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-uXZuRd8pjg  .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-uXZuRd8pjg  .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-uXZuRd8pjg  .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-uXZuRd8pjg  .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-uXZuRd8pjg  .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-uXZuRd8pjg  .nav-link {
  width: fit-content;
  position: relative;
}
.cid-uXZuRd8pjg  .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-uXZuRd8pjg  .navbar-logo {
    padding-left: 0;
  }
}
.cid-uXZuRd8pjg  .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uXZuRd8pjg  .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-uXZuRd8pjg  .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-uXZuRd8pjg  .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-uXZuRd8pjg  .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uXZuRd8pjg  .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-uXZuRd8pjg  .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uXZuRd8pjg  .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-uXZuRd8pjg  .nav-item:focus,
.cid-uXZuRd8pjg  .nav-link:focus {
  outline: none;
}
.cid-uXZuRd8pjg  .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uXZuRd8pjg  .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uXZuRd8pjg  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uXZuRd8pjg  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uXZuRd8pjg  .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uXZuRd8pjg  .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uXZuRd8pjg  .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-uXZuRd8pjg  .navbar.opened {
  transition: all 0.3s;
}
.cid-uXZuRd8pjg  .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uXZuRd8pjg  .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-uXZuRd8pjg  .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-uXZuRd8pjg  .navbar.collapsed {
  justify-content: center;
}
.cid-uXZuRd8pjg  .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uXZuRd8pjg  .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uXZuRd8pjg  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-uXZuRd8pjg  .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uXZuRd8pjg  .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uXZuRd8pjg  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uXZuRd8pjg  .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uXZuRd8pjg  .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uXZuRd8pjg  .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uXZuRd8pjg  .navbar {
    min-height: 72px;
  }
  .cid-uXZuRd8pjg  .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-uXZuRd8pjg  .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uXZuRd8pjg  .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uXZuRd8pjg  .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-uXZuRd8pjg  .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uXZuRd8pjg  .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uXZuRd8pjg  .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-uXZuRd8pjg  .dropdown-item.active,
.cid-uXZuRd8pjg  .dropdown-item:active {
  background-color: transparent;
}
.cid-uXZuRd8pjg  .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uXZuRd8pjg  .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uXZuRd8pjg  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uXZuRd8pjg  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uXZuRd8pjg  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-uXZuRd8pjg  .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-uXZuRd8pjg  ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uXZuRd8pjg  .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-uXZuRd8pjg  .navbar-buttons {
    text-align: left;
  }
}
.cid-uXZuRd8pjg  button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uXZuRd8pjg  button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uXZuRd8pjg  button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uXZuRd8pjg  button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uXZuRd8pjg  button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uXZuRd8pjg  button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uXZuRd8pjg  nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uXZuRd8pjg  nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uXZuRd8pjg  nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uXZuRd8pjg  nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uXZuRd8pjg  .navbar-dropdown {
  padding: 0 1rem;
}
.cid-uXZuRd8pjg  a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uXZuRd8pjg  .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uXZuRd8pjg  .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uXZuRd8pjg  .navbar {
    height: 70px;
  }
  .cid-uXZuRd8pjg  .navbar.opened {
    height: auto;
  }
  .cid-uXZuRd8pjg  .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-uXZuRd8pjg  .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-uXZuRd8pjg  .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-uXZuRd8pjg  .navbar-brand {
    margin-right: auto;
  }
  .cid-uXZuRd8pjg  .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-uXZuRd8pjg  .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-uXZuRd8pjg  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-uXZuRd8pjg  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uXZuRd8pjg  .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-uXZuRd8pjg  .navbar-collapse {
    padding: 1rem;
  }
}

.cid-uXZuRd8QXl {
  display: flex;
}
@media (min-width: 768px) {
  .cid-uXZuRd8QXl {
    align-items: flex-end;
  }
  .cid-uXZuRd8QXl .row {
    justify-content: flex-start;
  }
  .cid-uXZuRd8QXl .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uXZuRd8QXl .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uXZuRd8QXl {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uXZuRd8QXl .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uXZuRd8QXl .content-wrap {
    width: 100%;
  }
}
.cid-uXZuRd8QXl .mbr-fallback-image.disabled {
  display: none;
}
.cid-uXZuRd8QXl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}
.cid-uXZuRd8QXl .mbr-section-title,
.cid-uXZuRd8QXl .mbr-section-subtitle {
  text-align: left;
  color: var(--dominant-color, #ffc091);
}
.cid-uXZuRd8QXl .mbr-text,
.cid-uXZuRd8QXl .mbr-section-btn {
  text-align: left;
}

.cid-uXZuRd8TLc {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uXZuRd8TLc .mbr-fallback-image.disabled {
  display: none;
}
.cid-uXZuRd8TLc .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cid-uXZuRd8TLc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uXZuRd8TLc .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: var(--primary-color, #d70081);
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-uXZuRd8TLc .card-title,
.cid-uXZuRd8TLc .iconfont-wrapper{
  color: var(--primary-color, #d70081);
  text-align: center;
}
.cid-uXZuRd8TLc .card-text {
  color: #000000;
  text-align: center;
}
.cid-uXZuRd8TLc .content-head {
  max-width: 800px;
}
.cid-uXZuRd8TLc .mbr-section-title {
  color: #000000;
}

.cid-uXZuRd8mMk {
  overflow: hidden;
  background-image: url("https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1758560076739-0d3995458b53%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8OHx8Y2FyJTIwY29tbXVuaXR5fGVufDB8MHx8fDE3NTg5Njc1MzV8MA%26ixlib%3Drb-4.1.0%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D50&e=1762560000&s=XvSLrjXZQaR5x1BYzqGbOLklmfh00Y8dWZ6ITtpq0DQ");
}

.cid-uXZuRd8YdW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uXZuRd8YdW .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-uXZuRd8YdW img,
.cid-uXZuRd8YdW .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uXZuRd8YdW .item:focus,
.cid-uXZuRd8YdW span:focus {
  outline: none;
}
.cid-uXZuRd8YdW .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uXZuRd8YdW .item {
    margin-bottom: 1rem;
  }
}
.cid-uXZuRd8YdW .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uXZuRd8YdW .mbr-section-title {
  color: #232323;
}
.cid-uXZuRd8YdW .mbr-text,
.cid-uXZuRd8YdW .mbr-section-btn {
  color: #232323;
}
.cid-uXZuRd8YdW .item-title {
  color: #232323;
}
.cid-uXZuRd8YdW .content-head {
  max-width: 800px;
}

.cid-uXZuRd9czH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uXZuRd9czH .item:focus,
.cid-uXZuRd9czH span:focus {
  outline: none;
}
.cid-uXZuRd9czH .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-uXZuRd9czH .content-head {
  max-width: 800px;
}
.cid-uXZuRd9czH .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-uXZuRd9czH .item {
    min-height: 45px;
  }
}

.cid-uXZuRd96hI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uXZuRd96hI .mbr-text {
  color: #000000;
}
.cid-uXZuRd96hI .mbr-section-subtitle {
  color: #000000;
}
.cid-uXZuRd96hI .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uXZuRd96hI .mbr-text,
.cid-uXZuRd96hI .item .mbr-section-btn {
  text-align: left;
}
.cid-uXZuRd96hI .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uXZuRd96hI .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uXZuRd96hI .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}

.cid-uXZuRd9XKy {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}
.cid-uXZuRd9XKy .item-subtitle {
    line-height: 1.2;
    color: #000000;
    text-align: center;
}
.cid-uXZuRd9XKy img,
.cid-uXZuRd9XKy .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
}
.cid-uXZuRd9XKy .item:focus,
.cid-uXZuRd9XKy span:focus {
    outline: none;
}
.cid-uXZuRd9XKy .item {
    margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uXZuRd9XKy .item {
      margin-bottom: 1rem;
  }
}
.cid-uXZuRd9XKy .item-wrapper {
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
}
.cid-uXZuRd9XKy .mbr-section-btn {
    margin-top: auto !important;
}
.cid-uXZuRd9XKy .mbr-section-title {
    color: #000000;
}
.cid-uXZuRd9XKy .mbr-text,
.cid-uXZuRd9XKy .mbr-section-btn {
    color: #000000;
    text-align: center;
}
.cid-uXZuRd9XKy .item-title {
    color: #000000;
}
.cid-uXZuRd9XKy .content-head {
    max-width: 800px;
}

.cid-uXZuRd9MlR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-uXZuRd9MlR .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-uXZuRd9MlR .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uXZuRd9MlR .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uXZuRd9MlR .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-uXZuRd9MlR .card-title,
.cid-uXZuRd9MlR .iconfont-wrapper {
  color: #000000;
}
.cid-uXZuRd9MlR .card-text {
  color: #000000;
  text-align: left;
}
.cid-uXZuRd9MlR .content-head {
  max-width: 800px;
}
.cid-uXZuRd9MlR .mbr-section-title {
  color: #000000;
}
.cid-uXZuRd9MlR .card-title,
.cid-uXZuRd9MlR .img-wrapper {
  text-align: center;
}
.cid-uXZuRd9MlR .img-wrapper {
  display: flex;
  justify-content: center;
}

.cid-uXZuRd9Tgq {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: transparent;
    }

    .cid-uXZuRd9Tgq .mbr-fallback-image.disabled {
        display: none;
    }

    .cid-uXZuRd9Tgq .mbr-fallback-image {
        display: block;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .cid-uXZuRd9Tgq .card-wrapper {
        background: #ffffff;
    }

    @media (max-width: 767px) {
        .cid-uXZuRd9Tgq .card-wrapper {
            padding: 2rem 1.5rem;
            margin-bottom: 1rem;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .cid-uXZuRd9Tgq .card-wrapper {
            padding: 2.25rem;
        }
    }

    @media (min-width: 992px) {
        .cid-uXZuRd9Tgq .card-wrapper {
            padding: 4rem;
        }
    }

    .cid-uXZuRd9Tgq .mbr-text,
    .cid-uXZuRd9Tgq .mbr-section-btn {
        text-align: center;
    }

.cid-uXZuRd9ToS .mbr-fallback-image.disabled {
  display: none;
}
.cid-uXZuRd9ToS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}

.cid-uXZuRd95m6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uXZuRd95m6 .item:focus,
.cid-uXZuRd95m6 span:focus {
  outline: none;
}
.cid-uXZuRd95m6 .item {
  cursor: pointer;
}
.cid-uXZuRd95m6 .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-uXZuRd95m6 .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-uXZuRd95m6 .grid-container-1,
.cid-uXZuRd95m6 .grid-container-2 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-uXZuRd95m6 .grid-container-1,
  .cid-uXZuRd95m6 .grid-container-2 {
    gap: 0 1rem;
  }
}
.cid-uXZuRd95m6 .mbr-section-title {
  color: #000000;
}
.cid-uXZuRd95m6 .mbr-text,
.cid-uXZuRd95m6 .mbr-section-btn {
  color: #000000;
}
.cid-uXZuRd95m6 .content-head {
  max-width: 800px;
}
.cid-uXZuRd95m6 .container,
.cid-uXZuRd95m6 .container-fluid {
  overflow: hidden;
}
.cid-uXZuRd95m6 .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-uXZuRd95m6 .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uXZuRd95m6 .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-uXZuRd95m6 .grid-item img {
    min-width: 35vw;
  }
}
.cid-uXZuRd95m6 .grid-container-1,
.cid-uXZuRd95m6 .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-uXZuRd95m6 .grid-container-1 {
  align-items: flex-end;
}
.cid-uXZuRd95m6 .grid-container-2 {
  align-items: flex-start;
}

.cid-uXZuRd9Aqj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uXZuRd9Aqj .mbr-fallback-image.disabled {
  display: none;
}
.cid-uXZuRd9Aqj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uXZuRd9Aqj .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-uXZuRd9Aqj .bg-facebook:hover {
  background: #0b60cb;
}
.cid-uXZuRd9Aqj .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-uXZuRd9Aqj .bg-twitter:hover {
  background: #0c85d0;
}
.cid-uXZuRd9Aqj .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-uXZuRd9Aqj .bg-instagram:hover {
  background: #bd005c;
}
.cid-uXZuRd9Aqj .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-uXZuRd9Aqj .bg-tiktok:hover {
  background: #000000;
}
.cid-uXZuRd9Aqj .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-uXZuRd9Aqj [class^="socicon-"]:before,
.cid-uXZuRd9Aqj [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}

.cid-uXZuRd9AkP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-uXZuRd9AkP .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uXZuRd9AkP form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uXZuRd9AkP form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uXZuRd9AkP form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uXZuRd9AkP .content-head {
  max-width: 800px;
}

.cid-uXZuRdaRni .main_wrapper {
  position: relative;
  height: 800px;
  width: 100%;
}
.cid-uXZuRdaRni .b_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 991px) {
  .cid-uXZuRdaRni .b_wrapper {
    position: relative;
    width: 100%;
    height: auto !important;
    flex-direction: column;
  }
}
.cid-uXZuRdaRni .row {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-uXZuRdaRni .container-fluid {
    padding: 0;
  }
}
.cid-uXZuRdaRni .item-wrapper {
  height: 100%;
  background-color: #ffffff;
  pointer-events: fill;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uXZuRdaRni .item-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 991px) {
  .cid-uXZuRdaRni .item-wrapper {
    width: 100%;
    position: relative;
    padding: 2rem;
    border-radius: 0px !important;
  }
}
.cid-uXZuRdaRni .google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.cid-uXZuRdaRni .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
}
.cid-uXZuRdaRni .google-map [data-state-details] {
  color: #edefeb;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uXZuRdaRni .google-map[data-state] {
  background: #edefeb;
}
.cid-uXZuRdaRni .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 991px) {
  .cid-uXZuRdaRni .google-map {
    position: static;
  }
}
.cid-uXZuRdaRni ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cid-uXZuRdagkn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-uXZuRdagkn .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-uXZuRdagkn .social-row .soc-item {
  margin: 8px;
}
.cid-uXZuRdagkn .social-row .soc-item a:hover .mbr-iconfont,
.cid-uXZuRdagkn .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-uXZuRdagkn .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-uXZuRdagkn .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uXZuRdagkn .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-uXZuRdagkn .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-uXZuRdagkn .header-menu li p {
  margin: 0;
}
.cid-uXZuRdagkn .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-uXZuRdagkn .mbr-section-title {
  color: #ffffff;
}
