services:
  django:
    container_name: dev-django 
    image: python:3.12-slim
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app/backend/
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - APITUBE_KEY=api_live_eaMzJslZ4lSkIHRga1t6ayEqyAzet60sxwD4qh8WTkYxzAeQB7phZIKwt
    volumes:
      - ./backend:/app/backend
      
    depends_on:
      - db
    networks:  
      - app-network
  db:
    container_name: dev-db
    image: postgres:16.1-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
  frontend:
    container_name: dev-frontend
    image: node:20
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
    networks:
      - app-network

  selenium:
    image: selenium/standalone-chrome:114.0
    container_name: selenium
    ports:
      - "4444:4444"
    networks:
      - app-network

volumes:
  pgdata: {}

networks:
  app-network:
    driver: bridge