.container {
  width: 100%; 
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 150px !important;
  margin-left: 300px;
  box-sizing: border-box;
}

/* Header */
.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
  margin: 0;
}

.subtitle {
  color: #666;
  margin-top: 0.5rem;
}

/* Button section */
.button-section {
  margin-bottom: 2rem;
}

.add-button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-button:hover {
  background-color: #1d4ed8;
}

/* Message */
.message {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.error {
  color: #dc2626;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-left: 450px;
}

.pageInfo {
  font-size: 15px;
  color: #444;
  font-weight: 500;
}

.pageBtn {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
  font-weight: 600;
}

.pageBtn:hover {
  background-color: #f3f3f3;
  border-color: #999;
}

.pageBtn:disabled {
  background-color: #eaeaea;
  border-color: #d5d5d5;
  cursor: not-allowed;
  color: #999;
}


/* RESPONSYWNE: mniejsze ekrany */
@media (max-width: 1024px) {
  .container {
    margin-left: 160px;
  }

  .title {
    font-size: 1.8rem;
    margin-left: 80px;
  }
  .subtitle{
    margin-left: 100px;
  }
  .add-button{
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 100px;
  }

  .title {
    font-size: 1.6rem;
  }

  .add-button {
    text-align: center;
    margin-left: -20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.8rem;
    margin-top: 120px !important;
  }

  .title {
    font-size: 1.4rem;
    margin-left: -20px;
  }

  .subtitle {
    font-size: 0.9rem;
    margin-left: 0px;
  }
}
